.content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 6px;
}

.tags {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 6px;
}

.info {
    width: 42px;
    margin-right: -2px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
    gap: 2px;
}

.com::before {
    font-size: 20px;
}

.desc::before {
    font-size: 20px;
}