.wrapper {
    position: relative;
}

.dots {
    
}
.dots:hover {
    cursor: pointer;
}
.dots::before {
    font-size: 13px;
    line-height: 3px;
}

.hint {
    position: absolute;
    top: 0;
    right: -12px;
    padding: 12px;
    background-color: #fff;
    box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.12);
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.2s ease, visibility 0.2s ease;
}
.hint.show {
    opacity: 1;
    visibility: visible;
}

.text {
    font-weight: 400;
    font-size: 14px;
    line-height: 15px;
    width: fit-content;
}
.text:hover {
    cursor: pointer;
}

.close {
    position: absolute;
    top: 9.5px;
    right: 9.5px;
}
.close::before {
    font-size: 9px;
    line-height: 9px;
}
.close:hover {
    cursor: pointer;
}