.header {
    display: flex;
    flex-direction: row;
    gap: 6px;
    margin-bottom: 10px;
}

.title {
    font-weight: 400;
    font-size: 15px;
    line-height: 15px;
    flex: 1 1 auto;
}

.link {
    position: relative;
}

.link::before {
        color: #929292;
    }
.link:hover::before {
    color: #333333;
}

.modal {
    position: absolute;
    right: 0;
    top: 0;
    padding: 12px 22px 12px 12px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.close {
    position: absolute;
    right: 9.5px;
    top: 9.5px;
}