.pop-up {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 51;
	opacity: 0;
	visibility: hidden;
	transition: opacity 0.5s linear, visibility 0.5s linear;
	display: flex;
	justify-content: center;
	align-items: center;
}
.pop-up.show {
    opacity: 1;
    visibility: visible;
}

.bg {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-color: #000;
    opacity: 0.6;
}

.wrapper {
    position: relative;
    background-color: #F5F5F5;
    border-radius: 11px;
    z-index: 1;
    padding: 66px 44px;
    box-sizing: border-box;
}

.title {
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    margin-bottom: 24px;
}

.btns {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 12px;
}
.btns > * {
    min-width: 94px;
}