:root {
    --select-grey: #D8D7D7;
    --select-light-grey: #E3E3E3;
}

.wrapper {
    width: 168px;
    position: relative;
}

.choose {
    background-color: var(--select-light-grey);
    border-radius: 3px 3px 0px 0px;
    padding: 10px;
    position: relative;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    z-index: 1;
    transition: background-color 0.2s linear;
}
.choose::before {
    font-size: 10px;
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
}
.choose:hover {
    background-color: var(--select-grey);
    cursor: pointer;
}

.dropdown {
    height: 0px;
    overflow-y: auto;
    background-color: var(--select-grey);
    border-radius: 0px 0px 3px 3px;
    box-sizing: border-box;
    position: absolute;
    left: 0;
    top: 100%;
    max-height: 0px;
    transition: all 0.2s linear;
}
.dropdown > *:first-child {
    padding-top: 10px;
}
.dropdown > *:last-child {
    padding-bottom: 10px;
}
.dropdown._show {
    height: 146px;
    max-height: 146px;
    z-index: 1;
}

.select {
    padding: 5px 10px 5px;
    display: flex;
    font-display: row;
    justify-content: space-between;
    align-items: center;
    gap: 17px;
}
.select:hover {
    cursor: pointer;
    background-color: #fff;
}