.wrapper {
    display: flex;
    flex-direction: column;
    gap: 14px;
}

.title {
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    margin-left: 20px;
}

.body {
    width: 277px;
    border: 1px solid #CACACA;
    border-radius: 7px;
    padding: 14px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    transition: background-color 0.2s ease, border 0.2s ease;
}
.body.over {
    background-color: rgba(0, 0, 0, 0.2);
    border: 1px solid #808080;
}

.btn {
    margin-top: 2px;
    margin-bottom: -2px;
}