.checkbox {

	&__item {
		display: inline-flex;
		flex-direction: row;
		align-items: center;
		gap: 6px;
		&:hover {
			cursor: pointer;
		}
	}

	&__input {
		&:checked {
			+ span {
				&::before {
					opacity: 1;
					visibility: visible;
				}
			}
		}
	}

	&__input-check {
		width: 18px;
		height: 18px;
		background: #FFFFFF;
		border: 1px solid #CACACA;
		box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.12);
		border-radius: 2px;
		display: flex;
		justify-content: center;
		align-items: center;
		&::before {
			opacity: 0;
			visibility: hidden;
			transition: opacity 0.2s linear, visibility 0.2s linear;
		}
	}

	&__input-text {
		font-weight: 400;
		font-size: 16px;
		line-height: 19px;
		color: #292929;
	}
}