$main-color: #333333;

.text-input {

	&__label {
		padding: 12px;
		box-sizing: border-box;
		background-color: #fff;
		box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.12);
		border-radius: 4px;
		width: 100%;
		display: inline-flex;
		&:hover {
			cursor: text;
		}
	}

	&__text {
		flex: 1 1 auto;
		font-family: inherit;
		border: none;
		outline: none;
		display: inline;
		margin: 0;
		padding: 0;
		font-style: normal;
		font-weight: 400;
		font-size: 15px;
		line-height: 15px;
		color: $main-color;
		&:focus {
			box-shadow: none;
		}
		&::placeholder {
			color: $main-color;
		}
	}

	&__textarea {
		flex: 1 1 auto;
		font-family: inherit;
		border: none;
		outline: none;
		display: inline;
		margin: 0;
		padding: 0;
		font-style: normal;
		font-weight: 400;
		font-size: 15px;
		line-height: 15px;
		color: $main-color;
		resize: none;
		&:focus {
			box-shadow: none;
		}
		&::placeholder {
			color: $main-color;
		}
	}
}